
{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2><a href= /sms_to_registered/> Send to this weeks registered players only</h2>

<h2><a href= /sms_to_all/> Send to players on full list</h2>

<h2><a href= /on_off/> Turn Program On or Off</h2>

<HEAD>

    <SCRIPT language="JavaScript">
    
    <!--hide
       
    var password;
    
    var pass1="1776";
        
    password=prompt('Please enter your password to view this page!',' ');
        
    if (password==pass1)
    
      alert('Password Correct! Click OK to enter!');
    
    else
    
       {
    
        window.location="http://127.0.0.1:8000/unlock/";
    
        }
    
    
    
    //-->
    
    </SCRIPT>
    
    </HEAD>
        
{% endblock %}



