{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2> Send to this weeks registered players only</h2>
<Div>
    {% if submitted %}
    

    {% else %}

        <form action= "" method ='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <input type= "submit" value= "Submit" name= "message1">

        </form> 

    {% endif %}
 
</Div>
<Div>


<HEAD>

    <SCRIPT language="JavaScript">
    
    <!--hide
       
    var password;
    
    var pass1="1776";
        
    password=prompt('Please enter your password to view this page!',' ');
        
    if (password==pass1)
    
      alert('Password Correct! Click OK to enter!');
    
    else
    
       {
    
        window.location="http://127.0.0.1:8000/unlock/";
    
        }
    
    
    
    //-->
    
    </SCRIPT>
    
    </HEAD>
        
{% endblock %}
